<!doctype html>
<html lang="en" >
<head>
    <meta charset="utf-8" >
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/lib/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/all.css" />
</head>
<body>
    {% include 'partials/navigation.twig' %}
    <div class="container" >
        <br>
        {% include 'partials/messages.twig' %}
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="{{ base_url() }}/lib/jquery.js" ></script>
    <script type="text/javascript" src="{{ base_url() }}/lib/bootstrap.js" ></script>
</body>
</html>